<meta charset="UTF-8">
<script src="https://unpkg.com/vue@2"></script>

<div id="app">
    <ul>
        <li v-for="cor in cores" :key="cor">{{cor}}</li>
    </ul>
    <ul>
        <li v-for="(cor, indice) in cores" :key="indice">{{indice + 1}}) {{cor}}</li>
    </ul>
    <hr>
    <template v-for="(cor, indice) in cores">
        <h1>{{cor}}</h1>
        <p>{{indice}}</p>
    </template>
    <hr>
    <ul>
        <li v-for="(pessoa, id) in pessoas" :key="id">
            <div v-for="(valor, chave, index) in pessoa">
                {{index}} - {{chave}}: {{valor}}
            </div>
        </li>
        <li v-for="n in 10">{{n}}</li>
    </ul>
</div>


<script>
    new Vue ({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                {nome: 'Amauri', idade: 47, peso: 73},
                {nome: 'Clarice', idade: 45, peso: 57},
            ]
        }
    })
</script>

<style>
    ul {
        list-style: none;
    }
    h1, p {
        display: inline;
    }
</style>